<h1>The Wrapper: Home</h1>

<ul id="messages"></ul>
<div>
	<input id="cmd" type="text" name="cmd" placeholder="Command" />
	<button id="cmdBtn">Send CMD</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	var cmd = document.getElementById('cmd');
	var cmdBtn = document.getElementById('cmdBtn');
	var messages = document.getElementById('messages');

	var socket = io();
	socket.on('log', function(msg){
		var li = createLi(msg);
		messages.appendChild(li);
	});

	cmdBtn.onclick = function() {
		socket.emit('cmd', cmd.value);

		var li = createLi(getTime() + ' [CMD]: ' + cmd.value);
		messages.appendChild(li);
		// Clear text input
		cmd.value = '';
	}

	function getTime() {
		var date = new Date();
		return '[' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ']';
	}

	function createLi(txt) {
		var li = document.createElement('li');
		var text = document.createTextNode(txt);
		li.appendChild(text);
		return li;
	}
</script>